<p><button><%= link_to "Create New Work Entry", new_work_path %></button></p>

<table>
	<tbody>
		<tr>
			<th>Employee Name</th>
			<th>Project</th>
			<th>Date | Time</th>
			<th>Hours</th>
			<th>Rate($/Hr)</th>
			<th>Payment($)</th>
      <th>Document</th>
		</tr>
		<%= render partial: "work" %>
	</tbody>
</table>


