<p><%= link_to "Create New Work Entry", new_work_path %></p>

<table>
	<tbody>
		<tr>
			<th>Employee Name</th>
			<th>Project</th>
			<th>Date | Time</th>
			<th>Hours</th>
			<th>Rate($/Hr)</th>
			<th>Payment($)</th>
		</tr>
		<%= render partial: "work" %>
	</tbody>
</table>