<p> <button><%= link_to "New Project", new_project_path %></button></p>
<table>
	<tbody>
		<tr>
			<th>Project</th>
			<th>Company</th>
		</tr>
		<%= render partial: "./companies/projects"  %>
	</tbody>
</table>