
<%= form_for @company, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
<div>
	<%= label_tag(:name, "Company Name:") %>
	<%= f.text_field :name ,:placeholder => 'Eg Apple' %>
</div>
<div>
<%= f.button "Create" %>
<div>
<% end %>