<%= simple_form_for(@company) do |f| %>
	<div>
		<%= f.input :name, placeholder: 'Apple' %>
	</div>
	<div>
		<%= f.submit @company.new_record? ? "Create Company" : "Update Company" %>
	</div>
<% end %>
