<p><button><%= link_to "Add Company", new_company_path %></button><p>
	
<table>
<tbody>
	<tr>
		<th>Company</th>
	</tr>
	<% @companies.each do |company| %>
	<tr>
		<td><%= link_to company.name, company %></td>
	<% end %>	
	</tr>
</tbody>
</table>


<% content_for :aside do %>
<% end %> 
