

<p> <%= link_to "Edit", edit_company_path(@company) %> </p>
<table>
	<tbody>
		<tr>
			<th>Project</th>
			<th>Company</th>
		</tr>
		<%= render partial: "projects" %>
	</tbody>
</table>


<% content_for :aside do %>
	<%= link_to "Back", companies_path %></br>
<% end %> 