

<p> <button><%= link_to "Edit", edit_company_path(@company) %> </button> </p>
<table>
	<tbody>
		<tr>
			<th>Project</th>
			<th>Company</th>
		</tr>
		<%= render partial: "projects" %>
	</tbody>
</table>


<% content_for :aside do %>
	<button><%= link_to "Back", companies_path %></button></br>
<% end %> 