


<table>
	<tbody>
		<tr>
			<th>Project</th>
			<th>Company</th>
		</tr>
		<%= render partial: "projects" %>
	</tbody>
</table>

<% content_for :aside do %>
	<%= link_to "Back", companies_path %></br>
<% end %> 